html {
    height: 100%;
}

body { 
    display: flex;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.card {
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
 
}
h1 {
    text-align: center;
    color: hsl(238, 29%, 16%);
}
h2 {
    color: hsl(240, 6%, 50%);
    font-weight: 200;
    font-size: 15px;
}
p {
    color: hsl(240, 6%, 50%);
    font-size: 15px;
}
.panel {
    display: none;
}
button {
    background-color: transparent;
    border: none;
  float: right;
}
button:hover {
    cursor: pointer;
    transform: scale(1.3);
}
hr {
    opacity: 30%;
}